canvas {
    background: #000000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    right: 0%;
}
h2 {
    margin-top: 10%;
}
#Section1 {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;
    height: 10%;
    color: #ffffff;
}
#Section2 {
    position: absolute;
    top: 140%;
    left: 15%;
    width: 70%;
    height: 10%;
    color: #bfc6ff;
}
#Section3 {
    position: absolute;
    top: 240%;
    left: 15%;
    width: 70%;
    height: 80%;
    color: #ffbfbf;
}
